@model IEnumerable<BusInfoCodeFirst.Models.BusInfo>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<body align="center">
    <div>
        <h1>
            BUS MANAGEMENT DETAILS -
        </h1>
        <b>Date : </b>@DateTime.Now
        <br />
        <br />

        </div><b>@Html.ActionLink("Click Here to Add Bus Details", "AddBus")</b></div>
        @foreach (var item in Model)
        {
            <p>
                <b>Boarding Point :</b> @item.BoardingPoint
            </p>

            <p>
                <b>Travel Date :</b> @item.TravelDate
            </p>
            <p>
                <b>Amount :</b> @item.Amount.ToString()
            </p>
            <p>
                <b>Rating :</b> @item.Rating
            </p>
            <hr />
        }
    </body>
